<li id="comment-<%= comment.id %>">
  <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <span class="content">
    <%= simple_format(comment.content) %>
  </span>
  <span class="timestamp">
    Commented <%= time_ago_in_words(comment.created_at) %> ago.
    <% if current_user?(comment.user) %>
      <%= link_to "Delete", micropost_comment_path(comment.micropost, comment),                  method: :delete,
                          data: { confirm: "You sure?" },
                          remote: true %>
      <%= link_to "Edit", edit_micropost_comment_path(comment.micropost, comment),
                            remote: true %>
    <% end %>
  </span>
</li>

<script type="text/javascript">
  $('#comment_edit').keypress(function(e) {
      console.log("Say hello");
    if (e.which == "13") {
      console.log("Say hello");
    }
  });
  
</script>
