<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <%= image_tag gravatar_for(@user), alt: "User profile picture", class: "profile-user-img img-responsive img-circle" %>

          <h3 class="profile-username text-center"><%= @user.name%></h3>

          <p class="text-muted text-center">Software Engineer</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Followers</b> <a class="pull-right"><%= @user.followers.count %></a>
            </li>
            <li class="list-group-item">
              <b>Following</b> <a class="pull-right"><%= @user.following.count %></a>
            </li>
          </ul>

          <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">About Me</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

          <p class="text-muted">
            B.S. in Computer Science from the University of Tennessee at Knoxville
          </p>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#timeline" data-toggle="tab">Time Line</a></li>
          <li><a href="#activity" data-toggle="tab">Activity</a></li>
          <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="activity">
            <h1>Blank Tab 1</h1>
            <br>
          </div>
          <!-- /.tab-pane -->
          <div class="active tab-pane" id="timeline">
            <ul class="timeline timeline-inverse">
              <!-- timeline time label -->
              <li class="time-label">
                <span class="bg-red">
                  10 Feb. 2014
                </span>
              </li>
              <!-- /.timeline-label -->
              <% @feeds.each do |feed| %>
                <li>
                  <i class="glyphicon glyphicon-user bg-blue"></i>

                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                    <h3 class="timeline-header no-border">
                      <% if feed.action == 1 %>
                        <%= link_to feed.user.name, user_path(feed.user_id)%>
                        following 
                        <%= link_to User.find(feed.source).name, user_path(feed.source) %>
                      <% elsif feed.action == 3 %>
                        <a href="#"><%= feed.user.name %></a> had learn
                        <%= link_to Lesson.find(feed.source).score, category_lesson_path(Lesson.find(feed.source).category,feed.source) %> word in categories
                        <%= link_to Lesson.find(feed.source).category.name, category_path(feed.source) %>
                      <% end %>
                    </h3>
                  </div>
                </li>

               
                
              <% end %>
              <div class="col-md-offset-3">
                <%= will_paginate @feeds %>
              </div>
              
              
              <!-- timeline item -->
              <li>
                  <i class="glyphicon glyphicon-education bg-yellow"></i>

                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                    <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                    </h3>
                  </div>
                </li>
              <li>
                <i class="glyphicon glyphicon-user bg-blue"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                  <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                  </h3>
                </div>
              </li>

              <li>
                <i class="glyphicon glyphicon-education bg-yellow"></i>

                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                  <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                  </h3>
                </div>
              </li>
              <!-- END timeline item -->

              <!-- timeline time label -->
              <li class="time-label">
                <span class="bg-green">
                  3 Jan. 2014
                </span>
              </li>

              <!-- END timeline item -->
              <li>
                <i class="fa fa-clock-o bg-gray"></i>
              </li>
            </ul>
            <br>
          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="settings">
            <h1>Blank Tab 3</h1>
            <br>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</section>
<!-- /.content -->
